 header{
                background-color: yellow;
                text-align: center;
            }

            body{
                background-image: url(ice.jpg);
                background-size: cover;
                
            }

            a { 
                text-decoration: none;
                background-color: aqua;
            }

            a#header-link {
                background-color: white;
                text-decoration: none;
                color: red;
            }

            a.body-link{ 
                background-color: black;
                color: white;
            }

            .red-text {
                color: red;

            }